* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient( #1454B9, #2979FF);
    background-repeat: no-repeat;
    font-family: sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
}
.container {
    background-color: white;
    width: 400px;
    height: 650px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 30px;
}
.header {
    background: linear-gradient(to right, #0D47A2, #1B68E0);
    padding: 20px;
    border-radius: 8px 8px 0 0;
}
.first-content {
    margin-top: 8px;
}
.heading {
    display: inline;
    margin-left: 7rem;
    color: white;
    font-size: 20px;
}
.back-icon {
    width: 10px;
    cursor: pointer;
}

.search {
    padding: 15px 180px 15px 15px;
    margin-top: 20px;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}
.search::placeholder {
    color: rgb(216, 216, 216);
}
.profile-pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left:  20px;
    padding-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.profile-pic:hover {
    background-color: rgba(109, 109, 109, 0.1);
}
.profile-img {
    width:  75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50px;
    border: 4px solid #A8C5F2;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.profile-img:hover {
    box-shadow: 0 8px 15px #1573ff;
    border: 4px solid #1573ff;
    transform: scale(1.1);
}
.name {
    color: #2A5FAF;
    font-weight: 600;
    margin-left: -30px;
}
.follow {
    background: linear-gradient(to right, #0D49A4, #1573ff);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 0 5px 8px #65a8ff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.follow:hover {
    box-shadow: 0 8px 15px #1573ff;
    transform: scale(1.1);
}
.unfollow {
    background-color: transparent;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 20px;
    color: #165ecb;
    border: 1px solid #165ecb;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.unfollow:hover {
    transform: scale(1.1);

}
.profile-container {
    margin-top: 30px;
}